table.tab1{
    border:0ch;
    width:90%;
}
.tab1{
    background-color: #EEEEEE;    
}
.tab2{
    width:37%;
    background-color:#7EE5DA;
}
.tab3{
    background-color:#70CCC2;
}
.tab4{
    text-align: right;
   background-color:#62B3AA;
}

